.pd-container {
    .pd-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 46px;
        line-height: 56px;
        letter-spacing: -0.011em;
        color: rgb(41, 41, 41);
        font-weight: 700;
    }
    .pd-body {
        margin-top: 2em;
        font-size: 21px;
        font-weight: 400;
    }
    .pd-comment {
        margin-top: 1em;
        font-size: 23px;
        font-weight: 400;
    }
}