.header-container {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 36px;
    // position: fixed;
    .header-wrapper {
        width: 90%;
        min-height: 115px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-section {
            color: rgb(25, 25, 25);
            line-height: 34px;
            font-size: 45px;
            font-weight: 900px;
        }
        .content-section {
            display: flex;
            .name {
                padding: 4px 12px 6px;
                border: 1px solid rgb(117, 117, 117);
                border-radius: 4px;
                margin-left: 10px;
            }
        }
    }
}