.comment-container {
    font-size: 16px;
    font-weight: 400;
    .each-comment-wrapper {
        letter-spacing: 0.5px;
        margin: 1em 0;
        padding: 1em 0;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}