body {
  background-color: #e9eade;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}

.body {
  height: calc(100vh - 140px);
  overflow: auto;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hoverable {
  cursor: pointer;
}